@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

body {
    overflow-x: hidden;
}

.homecontainer {
    width: 100vw;
    height: 110vh;
    /* background-image: url("backgrounds/bg-1.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    overflow: hidden; */


}

.homecontainer::before {
    content: "";
    background-image: url("backgrounds/bg-1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 110vh;
    width: 100%;
    z-index: -1;


}

.homelogo {

    position: absolute;
    top: -5px;
    left: 5px;
}


.navbar1 {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: #00000000;
    padding-top: 2rem;
    padding-bottom: 0.5rem;

}

.navmenu {
    list-style: none;
    width: 100vw;
    justify-content: flex-start;
    gap: 10vw;

}

.navitem a {
    font-family: "League Spartan";
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}


.sub-heading {

    color: #fff;
    font-weight: 400;
    font-size: 20px;

}

.logos {
    width: 189px;
    gap: 15px;
}

.homecontains {
    position: absolute;
    top: 250px;
    left: 140px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    z-index: 10;
}

.aboutcontainer {
    width: 100vw;
    height: 110vh;
    gap: 250px;
    align-items: center;
    justify-content: flex-start;
}

.aboutcontainer::before {
    content: "";
    background-image: url("backgrounds/bg-2.png");
    background-repeat: no-repeat;
    position: absolute;
    left: -400px;

    background-position: center;
    height: 160vh;
    width: 100%;
    z-index: -10;


}

.img-box-1 {
    /* border: #000000 solid 2px; */
    position: relative;
    top: 15px;
    left: 75px;
    width: 450px;
    height: 650px;
}

.BG {
    position: relative;
    top: 0px;
    left: 0px;
}

.img-vishnu {
    position: relative;
    top: -226px;
    z-index: 1;
    filter: grayscale(1);
    width: 450px;
}

.about-box {
    width: 600px;

}

.p-ab {
    font-size: 24px;
    font-weight: 300;
    font-family: "League Spartan";
}

.h-ab {
    font-size: 32px;
    font-weight: 600;
    font-family: "League Spartan";
}

.skills-container {
    width: 100vw;
    height: 100vh;
    /* border: #000000 solid 5px; */
    gap: 150px;
    align-items: center;
    justify-content: space-around;
}

.skills-container::before {
    content: "";
    background-image: url("backgrounds/bg-3.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 340px;

    background-position: center;
    height: 160vh;
    width: 100%;
    z-index: 0;

}


.img-box-2 {
    /* border: #000000 solid 2px; */
    position: relative;
    top: 0px;
    right: 0px;
    width: 450px;
    height: 650px;

}

.BG1 {
    position: relative;
    top: 0;
    left: 295px;
}


.img-comp {
    position: relative;
    top: -156px;
    right: 0px;
    z-index: 1;
    width: 400px;
}

.skills-box {
    width: 550px;
    /*position: relative;
    top: -650px;
    left: 150px;
    gap: 28px; */
}

.Skills {
    gap: 30px;
    margin-top: 40px;
}

.html {
    width: 90%;

}

.CSS {
    width: 80%;

}

.js {
    width: 70%;

}



.BG2 {
    position: relative;
    top: 0px;
    left: 0px;
}

.workcontainer {
    /* border: black solid 2px; */

    width: 100%;
    height: 110vh;
}

.workcontainer::before {
    content: "";
    background-image: url("backgrounds/bg-2.png");

    background-repeat: no-repeat;
    position: absolute;
    left: -600px;

    background-position: center;
    height: 110vh;
    width: 100%;
    z-index: -1;

}


.work-box {
    width: 600px;
    /* position: relative;
    top: -430px;
    left: 750px;
    gap: 28px; */
}


.workslist {
    justify-content: space-around;
    align-items: center;

}

.workslist::before {
    content: "";
    background-image: url("backgrounds/bg-4.png");

    background-repeat: no-repeat;
    position: absolute;
    left: 560px;

    background-position: bottom;
    height: 110vh;
    width: 100%;
    z-index: -1;

}

.img-box-3 {
    position: relative;
    top: 50px;
    right: 0px;
    width: 450px;
    height: 650px;

}

.img-work {
    position: relative;
    left: 42px;
    top: -150px;
    z-index: 1;
    width: 450px;
}

.bg-4 {
    position: relative;
    top: 500px;
}

.badges {
    gap: 10px;
}

.badge {
    background-color: #928A97;
}

.contact {
    width: 100%;
    /* border: black solid 2px; */
    height: 100vh;
}

.contact::before {
    content: "";
    background-image: url("backgrounds/contact.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100%;
    z-index: -10;

}

.contact-box {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    z-index: 1;
    position: relative;
    top: 90px;
    left: 132px;
    padding: 20px;
}

.h-c {
    padding-top: 20px;
    font-size: 42px;
    font-weight: 600;
    font-family: "League Spartan";
}

.c-text {
    margin: 100px;
    padding: 21px;
    width: 50%;
}

.c-text>p {

    font-size: 42px;
    font-weight: 600;
    font-family: "League Spartan";

}

.contactform {
    margin-top: 82px;
    width: 56%;
    height: 70%;
    gap: 25px;
}

.button {
    color: #fff;
    background-color: #000C24;
    padding: 5px;
    border-radius: 3px;
    width: 30%;
}

footer {
    width: 100vw;
    height: 27vh;
    background-color: #000C24;
    gap: 20px;
}