.pallet-3 {
    color: #000C24;

}

.pallet-2 {
    color: #FBFBFB;

}

.pallet-1 {
    color: #F44336;
}

.pallet-4 {
    color: #928A97;
    

}
.fw-b{
font-weight: 700;
}
.fw-m{
    font-weight: 400;
}

.skillbar-container {
    width: 750px;
    height: 10px;
    border-radius: 37px;
    background-color: #928a972e;
}
.inner-skill{
    height: 100%;
    border-radius: 30px;
    background-color: #000C24;
    
}
.skillname,.skillvalue{
    font-size: 14px;
    font-weight: 600;
    font-family: "League Spartan";
}
input[type="text"]{
    padding: 6px;
}

textarea{
    padding: 6px;
}
