.pallet-3 {
    color: #000C24;

}

.pallet-2 {
    color: #FBFBFB;

}

.pallet-1 {
    color: #F44336;
}

.pallet-4 {
    color: #928A97;
    

}
.fw-b{
font-weight: 700;
}
.fw-m{
    font-weight: 400;
}